*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --primary:#61dbd5;
    --secandary:#003a70;
    --text:#fff;
    --accent-color:#26daf1;
    --sea-color:#08447c;
}

/* Bottom Click Button */
#scrollbtn{
    font-size: 24px;
    background: var(--secandary);
    color: var(--text);
    position: fixed;
    padding: 5px 10px;
    right: 0;
    margin: 10px;
    border-radius: 7px;
    border: none;
    z-index: 1000;
    cursor: pointer;
}
/* Bottom Click Button */
header{
    width: 100%;
    background-color: var(--primary);
    
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

.header-content{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .left ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.left ul li a{
    text-decoration: none;
    color:var(--text) ;
    font-weight: bold;
    font-size: 16px;
}

.header-content .right ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.right ul li a{
    text-decoration: none;
    color: var(--secandary);
    font-weight: bold;
    font-size: 16px;
    transform: scale(1);
}

.icons>li>a>i:hover{
    
    transform: scale(1.3);
}

.right ul .enroll a{
    padding: 3px 7px;
    color: var(--primary);
    background: var(--secandary);
    font-size: 16px;
    
}



/* Top Header End */

/* Contect-Section Start */

.humberger-icon{
    display: none;

}

.contect-section{
    max-width: 100%;
    background: var(--text);
    margin: 10px 0;
}


.contect-section .contect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contect .logo img{
    width: 80%;
}

.contect .info-container{
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.contect p{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: start;
}

.contect-section h3{
    text-align: center;
    margin-top: -20px;
    animation: blinkh3 1s infinite;
}

@keyframes blinkh3{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


/* Contect Section End */

/* Navbar Start */

.navbar{
    max-width: 100%;
    background-color: var(--secandary);
    margin-top: 20px;
}

.navbar ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    
}

.navbar ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.navbar>ul>li{
    position: relative;
    padding: 15px 0;
}

.navbar>ul>li:not(:last-child)::after{
    content: '';
    width: 1px;
    height: 20px;
    background: var(--text);
    position: absolute;
    right: -10px;
    top: 30%;

}

.navbar>ul>li>a:hover{
    color: var(--accent-color);
}
/* Nav Dorp Down Lists Start */
       
/* About-Drop Start */
.about-drop{
    width: 250px;
    height: auto;
    position: absolute;
    box-shadow: 0px 10px 10px lightblue;
    top: 100%;
    background-color: var(--text);
    left: 0;
    opacity: 0;
    visibility:hidden;
    z-index: 1000;
    transform: scaleY(0);             
    transform-origin: top;             
    transition: transform .2s ease;

}


.navbar ul li:hover .about-drop{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.about-drop>ul>li a{
    color: var(--secandary);
    letter-spacing: 0;
    text-transform: uppercase;
}

.about-drop ul {
    display: flex;
    flex-direction: column;
    gap: 10px ;
    padding: 10px;
}
/* About-Drop End */

/* Infra Drop Start */
.infra-drop{
    width: 200px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text);
    z-index: 1000;
    box-shadow: 0px 10px 10px 3px lightblue;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease;
}

.navbar ul li:hover .infra-drop{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.infra-drop ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.infra-drop ul li a{
    color: var(--secandary);
    letter-spacing: 0;
    text-transform: uppercase;
}
/* Infra-Drop End */

/* Guide-Drop Start */
.guide-drop{
    width: 250px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text);
    box-shadow: 0px 10px 10px 3px lightblue;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease;
}

.navbar ul li:hover .guide-drop{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.guide-drop ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.guide-drop ul li a{
    color: var(--secandary);
    letter-spacing: 0;
    text-transform: uppercase;
}
/* Guide-Drop End */

/* Ted-Drop Start */
.navbar ul li a small{
    font-size: 10px;
    font-weight: bold;
}

.ted-drop{
    width: 250px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text);
    box-shadow: 0px 10px 10px 3px lightblue;
    z-index: 1000;
    opacity: 0;
    visibility: visible;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease;
}

.navbar ul li:hover .ted-drop{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.ted-drop ul{
    display: flex;
    padding: 15px;
}

.ted-drop ul li a{
    color: var(--secandary);
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 5px;

}
/* Ted-Drop End */


/* Nav Dorp Down Lists End */

/* Navbar Mobile start */
.mobile-navbar{
    display: none;

}
/* Navbar Mobile End */
/* Navbar End */


/* image Section Start */
.slider{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}



.images img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
/* image Section End */

/* Detail Section Start */
.detail{
    width: 100%;
    height: auto;
    background: var(--text);
}

.heading{
   font-size: 24px;
   font-weight: 400;
   color: #0a2a66;
   text-align: center;
   margin-top: 50px;
}

.learn{
    position: relative;
    margin-right: 15px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.learn::after{
    content: '';
    position:absolute;
    width: 4px;
    height: 30px;
    top: 0px;
    right: -10px;
    background: var(--secandary);
}

.p1-details{
    width: 90%;
    margin: 10px auto;
    font-size: 18px;
    text-align: center;
}

.detail-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 30px 0;
    flex-wrap: wrap;
}

.detail-items ul li{
    padding: 8px 30px;
    border-radius: 5px;
    background: var(--secandary);
}

.detail-items ul li:nth-child(even){
    background: var(--primary);
}

.detail-items ul li a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    text-transform: uppercase;

}

/* Classroom Flex Div Start */

.classroom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.teacher{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-circle{
    width: 100px;
    height: 100px;
    border: 2px solid var(--secandary);
    border-radius: 50%;
    position: relative;
}

.teacher img{
   width: 80px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}

.teacher-img-text{
    font-size: 20px;
    color: var(--secandary);
}


/* Classroom Flex Div End */

/* Detail Section End */

/* Chairman Message Section Start */

.ch-message{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 100px;
}

.ch-left{
    flex-basis: 50%;
    background: var(--secandary);
}

.ch-sir .ch-h1{
   color: var(--text);
   text-align: center;
   text-transform: uppercase;
   font-size: 24px;
   margin-top: 70px;
}

.ch{
    position: relative;
    margin-right: 20px;
    font-weight: bold;
}

.ch::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 2px;
    height: 90%;
    background: var(--text);

}

.ch-sir img{
    width: 300px;
    margin:  20px auto;
    display: table;
    border-radius: 10px;
}

.ch-name{
    text-align: center;
    font-size: 24px;
    color: var(--text);
    text-transform: uppercase;
}

.ch-post{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: var(--primary);
    text-transform: uppercase;
    margin-top: 5px;
}

.ch-content{
    text-align: justify;
    margin: 10px 0;
    color: var(--text);
    font-size: 18px;
    line-height: 25px;
}

.ch-more{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: var(--text);
    text-transform: uppercase;
    margin-top: 15px;
}

.ch-right{
    flex-basis: 50%;
    background: var(--sea-color);
    padding-bottom: 50px;
}

.read-more-akarsh{
    margin-top: 47px;
}

.read-more-anuja{
    margin-top: 47px;
}
/* Chairman Message Section End */

/* Achivment And Activity Section Start*/
.achivment{
    width: 100%;
    height: auto;
    background: var(--primary);
}

.activity{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.act-text{
    flex-basis: 25%;
}

.act-text h1{
   color: var(--text);
   position: relative;
}

.act-text h1::after{
    content: '';
    width: 100px;
    height: 6px;
    border-radius: 10px;
    background: var(--text);
    position: absolute;
    top: 100%;
    left: 0;
    
}
.act-box{
    flex-basis: 75%;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.act-img{
    width: 31%;
    position: relative;
    overflow: hidden;
}
.act-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    
}

.img-text{
    position: absolute;
    top: 80%;
    left: 0;
    text-align: center;
    color: var(--text);
}

.pariksha{
  padding-left: 10px;
  padding-top: 10px;
}


/* Achivment And Activity Section End*/

/* Photo & Video Gallery  Section Start */
.gallery{
    width: 100%;
    background: var(--secandary);
}

.gallery-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery-btn>.btn{
    padding: 13px 30px;
    background: var(--primary);
    color: var(--secandary);
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
}

.gallery-items{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 0;
}



.gallery-box{
    flex-basis: 25%;
    height: 300px;
    background: var(--sea-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: var(--text);
    gap: 10px;
    padding: 0 12px;
    position: relative;
}

.gallery-box:hover{
    color: black;
}

.gallery-box>*{
    position: relative;
    z-index: 2;
}

.gallery-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index:0;
}

.gallery-box:hover::before{
   transform: scaleX(1);
}



.box-color{
    background: var(--secandary);
}


.gallery-box figure{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--secandary);
    position: relative;

}
.gallery-box figure img{
    width: 60px;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
}

/* Photo & Video Gallery Section End */

/* Explore Section Program And Experiences Start */


/* Explore Heading Start */

.explore{
    width: 100%;
    background: #f5f7f9;
}

.explore-h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
    text-transform: uppercase;
    color: var(--secandary);
}

.explore span{
    position: relative;
    margin-right: 30px;
    font-weight: bold;
}

.explore-span::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 4px;
    height: 25px;
    background: var(--secandary);

}

/* Explore Heading End */

/* Explore Item Grid Start */
.explore-item-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
    gap: 20px;
    padding: 20px 0px 50px 0px;
    
}

.explore-item-box{
    width: 100%;
    height: 180px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* Explore items Images Full Img Start */

.explore-item-box-Full-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.explore-item-box-Full-img img{
    width: 100%;
}


/* Explore items Images Full Img End */



/* Explore items Images Width Text start*/
.explore-item-box-img{
    flex-basis: 50%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.explore-item-box-img img{
    width: 100%;
}
.explore-item-box-text{
    flex-basis: 50%;
    text-align: center;
    padding: 0 10px;
}

.explore-item-box-text h3{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}
/* Explore items Images End */
/* Explore Item Grid End */
/* Explore Section Program And Experiences End */

/* Innovate Section Start */

/* Innovate Heading Start */
.innovate{
    width: 100%;
    height: auto;
}

.innovate-hadding{
    text-align: center;
    text-transform: uppercase;
    color: var(--secandary);
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
}

.innovate-span{
    position: relative;
    margin-right:30px ;
    font-weight: bold;
}

.innovate-span::after{
    content: '';
    width: 4px;
    height: 30px;
    background: var(--secandary);
    position: absolute;
    top: 0%;
    right: -15px;
}

/* Innovate Flex Heading End */

/* Innovate Flex items start*/
   .innovate-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
    padding-bottom: 100px;

   }

   /* Left Side Start */
   .innovate-left-side{
    flex-basis: 47%;
    height: 350px;
    overflow: hidden;
   }
   
   .innovate-left-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
   }

   /* Left Side End */
   /* Right Side Start and grid start*/
   .innovate-right-side{
    flex-basis: 50%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 1px;
    background: var(--secandary);
    padding: 1px;
   }

   .innovate-grid{
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    padding-top: 10px;
    
   }

   /* Right Side and grid End */
/* Innovate Flex items End */
/* Innovate Section End */

/* News Section Start */

.news-section{
    width: 100%;
    height: auto;
    background: rgb(238, 237, 237);
}

/* News Headign Start */

.news-heading{
    text-align: center;
    padding-top: 50px;
    font-size:24px;
    font-weight: 400;
}

.news-span{
    position: relative;
    margin-right: 30px;
    font-weight: bold;
}

.news-span::after{
    content: '';
    width: 4px;
    height: 30px;
    position: absolute;
    top: 0;
    right: -15px;
    background: var(--secandary);
}
/* News Heading End */
/* News Img Flex Start */
.news-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 70px 0px;
}

.news-image{
    flex-basis: 31%;
    height: 300px;
    background: lightgrey;
    border-radius: 10px;
    text-align: center;
}

.news-image img{
    width: 250px;
    height: 100%;
    
}
/* News Img Flex End */
/* News Section End */

/* Footer Start */
.footer-section{
    width: 100%;
    height: auto;
    background: var(--secandary);
}
/* Footer Flex Start */

.footer-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}



/* Footer Flex Headign Start */

.footer-box1{
    flex-basis: 25%;
}

.footer-box1-heading{
    color: white;
    text-transform: uppercase; 
    margin-top: 50px; 
}

.footer-box1>ul{
   list-style: none;
   margin-top: 30px;
}

.footer-box1>ul>li{
    padding-top: 10px;
}

.footer-box1>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-box1>ul>li>a:hover{
    color: var(--sea-color);
    transition: .4s ease-in;
}
/* Footer Flex Headign Start */

/* Footer Flex Detail Start */

.footer-box2{
    flex-basis: 25%;
}

.footer-detail-heading{
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
    padding-bottom: 20px;
}

.footer-detail-box{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
    color: white;

}

.footer-detail-text>h3{
    font-size: 16px;
    text-transform: uppercase;
}
/* Footer Flex Detail End */

/* Footer Flex Map Start */
.footer-box3-map{
    flex-basis: 40%;
    margin-top:30px ;
    border-radius: 20px;
}

.footer-box3-map>iframe{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
}

/* Footer Flex Map End */

/* Footer Flex End */

/* Footer Icons Start */
.footer-icons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-icon-box{
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.footer-icon-box{
    transform: scale(1);
    transition: .3s ease-in-out;
}

.footer-icon-box:hover{
    transform: scale(1.1);
    background: var(--accent-color);
}
/* Footer Icons End */
/* Copyright Line Start*/
.copyright{
    width: 100%;
    height: auto;
    text-align: center;
    background: var(--sea-color);
    border-radius: 20px;
    margin-top: 20px;
}

.copyright>p{
    color: white;
    font-size: 18px;
    padding: 10px 0;
}
/* Copyright Line End */
/* Footer End */










/* Mobile Responsive Start */
@media (max-width:600px) {

    #scrollbtn{
        display: none;
    }
    /* Header */

    .header-content .left{
        display: none;
    }

    .header-content>.right>ul>li>a>i{
        display: none;
    }
    
    /* Header */

    /* Contect */

    .contect-section .container>h3{
        display: none;
    }
    .contect .info-container{
        display: none;
    }

    .contect .logo img{
        display: block;
    }

    .contect-section{
        position: relative;
        margin-top: 0;
    }
    /* Hamberger menu */
    .humberger-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
    }

    .humberger-icon>i{
        font-size: 30px;
    }
    /* Hamberger menu */
    
    /* Contect */

    /* Navbar */
    .navbar{
        margin-top: 0;
    }
    .navbar ul li a{
        display: none;
    }

    .navbar ul li::after{
        display: none;
    }

   .mobile-navbar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -500px;
    transition: .5s ease;
    margin: 0 auto;
    z-index: 10;
    background: rgb(255, 255, 255);
    display:block;
    overflow-y: auto;
   }

   .ul-scroll{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    padding-bottom: 10px;
   }

   .mobile-navbar>.ul-scroll>ul>li{
    list-style: none;
    margin-top: 20px;
    margin-left: 30px;
    
   }

   .mobile-navbar>.ul-scroll>ul>li>a{
    text-decoration: none;
    color: var(--secandary);
    font-size: 24px;
    letter-spacing: 1px;
   }

    .mobile-nav-icon{
    display: flex;
    justify-content: center;
    align-items: c;
    gap: 20px;
    font-size: 24px;
   }

   .mobile-nav-icon-box{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    transform: scale(1);
    transition: .3s ease-in-out;
   }

   .mobile-nav-icon-box:hover{
    transform: scale(1.1);
    background: var(--primary);
    color: white;
   }

   .mobile-nav-icon-box>i{
    padding: 10px;
    margin: 0 auto;
    display: table;
    
   }

   .mobile-navbar>.close-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: var(--secandary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    border: none;
   }

   .mobile-navbar>.close-icon>i{
    font-size: 30px;
    color: white;
   }

  
    /* Navbar */

    /* Image */
    .slider{
        width: 100%;
        height: 200px;
    }
    .slider .images{
     width: 100%;
     height: 100%;
    }

    .slider .images img{
        width: 100%;
        height: 100%;
    }
    /* Image */
    /* Detail  */
    .p1-details{
        text-align: justify;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: .7px;
    }

    .detail-items ul{
        width: 100%;
       display: flex;
       justify-content: flex-start;
       flex-wrap: wrap;
    }

    .detail-items ul li{
        flex-basis:100%;
        text-align: center;

    }

    .classroom{
        justify-content: flex-start;
        gap: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    /* Detail */

    /* Chairman's */
    .ch-message{
        margin-top: 15px;
        flex-direction: column;
    }

    .ch-left,.ch-right{
        background: var(--secandary);
        padding-bottom: 10px;
        overflow: hidden;
    }
    .ch-message{
        background: var(--secandary);
        padding-bottom: 20px;
    }

    .ch-sir .ch-h1{
        margin-top: 20px;
    }
    /* Chairman's */

    /* Achivment And Activity */

    .activity{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .act-text{
        margin-left: 20px;
    }
    
    .act-box{
        flex-direction: column;
        margin-top: 20px;
    }

    .act-box .act-img{
        width: 100%;
        height: 300px;
    }

    .act-box .act-img img{
        width: 100%;
        height: 100%;
    }

    /* Achivment And Activity */

    /* Photo & Gallery */
    .gallery-btn{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .gallery-btn>.btn{
        margin-top: 0px;
    }

    .gallery-items{
        flex-direction: column;
        gap: 0px;
    }
    .gallery-box{
        padding: 20px;
    }
    .gallery-box P{
        font-size: 12px;
    }
    /* Photo & Gallery */

    /* Exlpore*/
    .explore-item-grid{
        grid-template-columns:repeat(1, 1fr);
    }
    /* Explore */

    /* Innovate */
    .innovate-flex{
        flex-direction: column;
    }

    .innovate-right-side{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }

    .innovate-flex{
        padding-bottom: 20px;
    }
    /* Innovate */

    /* News */
    .news-flex{
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
    }
    /* News */

    /* Footer */
    .footer-flex{
        flex-direction: column;
        padding-bottom: 10px;
    }
    /* Footer */
}
/* Mobile Responsive End */
